{
	layer4 {
		:6697 {
			@zchat tls sni zchat.inside.h2os.cloud
			route @zchat {
				tls
				proxy 127.0.0.1:6667
			}
		}
	}
}

*.inside.h2os.cloud {
	tls {
		dns alidns {
			access_key_id {env.ALICLOUD_ACCESS_KEY_ID}
			access_key_secret {env.ALICLOUD_ACCESS_KEY_SECRET}
		}
		resolvers 223.5.5.5 8.8.8.8
	}

	@hackforger host hackforger.inside.h2os.cloud
	handle @hackforger {
		reverse_proxy localhost:3000
	}

	handle {
		respond "Not Found" 404
	}
}
